:root {
  --bg-menu: rgb(145, 145, 145);
  --bg-main: rgb(255, 255, 255);
  --bg-tips: rgb(40, 40, 110);
  --text-tips: rgb(200, 200, 200);
  --text-menu: rgb(0, 0, 0);
  --hover-menu: rgb(222, 184, 135);
  --bg-modal: rgb(0, 0, 0, 0.8);
  --bg-modal-container: rgb(255, 255, 255);
}

/* Estilos geral */
body {
  background-color: var(--bg-main);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

/* Cabecalho principal */
.header-container {
  align-items: center;
  background-color: var(--bg-menu);
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.header__logo {
  background-color: var(--bg-main);
  height: 50px;
  margin-left: 1rem;
  width: 130px;
}

.header__menu {
  align-items: center;
  display: Flex;
  justify-content: space-around;
  list-style: none;
  margin-right: 1rem;
}

.menu__item {
  color: var(--text-menu);
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__item:hover {
  border-left: 7px solid var(--hover-menu);
  color: var(--hover-menu);
  font-size: 1rem;
  padding-left: 0.5rem;
}

.header__login {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  margin-left: 1rem;
}

.header__login--imagem {
  margin: 0 0rem 0 1rem;
}

.header__login--usuario {
  margin: 0.7rem;
}

/* Rodapé principal */
.footer-container {
  background-color: var(--bg-menu);
  display: flex;
  height: 20px;
  width: 100%;
}
