.registros__modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

/* Estilo modal de medidas */
.registros__medidas {
  background-color: white;
  display: none;
  height: 70vh;
  margin: auto auto;
  width: 60vw;
}

/*Estilo modal de laboratorio*/
.registros__laboratorio {
  background-color: white;
  display: none;
  height: 70vh;
  margin: auto auto;
  width: 60vw;
}

/*Estilo modal de composição corporal*/
.registros__composicao {
  background-color: white;
  display: none;
  height: 70vh;
  margin: auto auto;
  width: 60vw;
}

/*Estilo modal de fotos*/
.registros__fotos {
  background-color: white;
  display: none;
  height: 70vh;
  margin: auto auto;
  width: 60vw;
}

/*Estilo modal de protocolos*/
.registros__protocolos {
  background-color: white;
  display: none;
  height: 70vh;
  margin: auto auto;
  width: 60vw;
}

.registros__modal--ativo {
  display: flex;
}
