.registros__modal {
  --modal-zindex: 10;
  background-color: var(--bg-modal);
  display: none;
  height: 100%;
  left: 0;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--modal-zindex);
}

/* Estilo modal de container */
.registrosModal__container {
  background-color: var(--bg-modal-container);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: 80vh;
  margin: auto auto;
  position: relative;
  width: 80vw;
}

.registrosModal__container.fade {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

/* Ativação de modal */
.registros__modal--ativo {
  display: flex;
}

.registrosModal__form {
  box-sizing: border-box;
  width: 100%;
}

.registrosModal__header {
  border-bottom: 0.5px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 1rem 0 1rem;
  width: auto;
}

.registrosModal__lista {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: flex-start;
}

.registrosModal__item {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0.5px gray;
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin: 0.5rem;
  width: 95%;
}

.registrosModal__maisItem {
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.registrosModal__footer {
  border-top: 0.5px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;
  padding: 1rem 0 1rem;
  width: auto;
}
