.registros__tips-container {
  align-items: flex-start;
  background-color: var(--bg-tips);
  color: var(--text-tips);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100px;
  width: 100%;
}

.registros__tips {
  box-sizing: border-box;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 0.5rem 20% 0;
  text-align: left;
  width: 95%;
}

.registrosTips__listaItens {
  margin-left: 3rem;
}

.registrosTips__fechar {
  background-color: transparent;
  color: var(--text-tips);
  border: 0;
  text-align: center;
  width: 5%;
}

.registrosTips__nav {
  color: var(--text-tips);
  display: block;
  font-size: 1.2rem;
  margin: 0.2rem auto;
}

.registrosTips__navItem {
  background-color: transparent;
  border: 0;
  color: var(--text-tips);
}

.registrosTips__esconder {
  display: none;
}
