.tips {
  display: block;
  background-color: darkblue;
  box-sizing: border-box;
  color: white;
  font-size: 0.8rem;
}

.hide-tips {
  display: none;
}

.tips__header {
  display: flex;
  justify-content: end;
  padding: 0 1rem;
}

.tips__reduced--button,
.tips__close--button {
  background-color: transparent;
  border: none;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
}

.tips__close--button:hover {
  color: rgb(200, 200, 200);
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
}

.tips__reduced--button {
  display: none;
}

.tips--collapse {
  text-align: center;
  vertical-align: middle;
}

.tips__slideshow--container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: space-around;
  max-width: 100%;
  height: 5rem;
  padding: 0 5rem;
  position: relative;
  overflow: hidden;
}

.tips__slideshow--slide:not(.active-tip) {
  display: none;
}

.tips__slideshow--slide .active-tip {
  display: inline-block;
  padding: .5rem 2rem;
  cursor: default;
}

.tips__prev--button,
.tips__next--button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.tips__prev--button {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.tips__next--button {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.tips__prev--button:hover, .tips__next--button:hover {
  background-color: rgba(0,0,0,0.8);
}

.tips__dot {
  display: block;
  text-align: center;
  padding: .5rem;
}

.tips__dot--items {
  cursor: pointer;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 0%;
  display: inline-block;
  transition: background-color 0.6s ease;
  height: .25rem;
  width: 2rem;
}

.active-dot, .tips__dot--items:hover {
  background-color: rgba(0,0,0,0.5);
}

@media screen and (max-width: 480px) {
  .tips__reduced--button {
    display: inline-block;
  }

  .tips__reduced--button:hover {
    color:rgb(200, 200, 200);
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
  }

  .tips__header {
    justify-content: space-between;
  }

  .tips--collapse:not(.collapse-tip) {
    display: none;
  }

  .collapse-tip {
    display: inline;
    position: relative;
    width: 100vw;
  }

  .tips__slideshow--container {
    height: 4rem;
    padding: 2.5rem;
  }

  .tips__dot {
    display: none;
}
}

.fade-tip {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade-tip {
  from {opacity: .4}
  to {opacity: 1}
}

.grab 
{
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.grabbing
{
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}