.registros__lista {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.registrosLista__item {
  background-color: white;
  border: 0.5px solid gray;
  display: flex;
}

/* Responsividade da lista */
@media screen and (min-width: 1024px) {
  .registros__lista {
    border-radius: 10px;
    height: 100vh;
    margin: 0 auto 0.5rem;
    width: 97vw;
  }

  .registrosLista__item {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0.5px gray;
    height: 50px;
    margin: 0.3rem 0.3rem 0 0.3rem;
    width: calc(100%-0.6rem);
  }
}

.registrosLista__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.registrosLista__navItem {
  background-color: transparent;
  border: transparent;
  color: black;
  margin: 1rem;
}

.registrosLista__navItem--previous,
.registrosLista__navItem--next {
  font-size: 1.5rem;
}
