.profile__user {
  --border-color-profile: #aaaaaa;
  border: 0.1rem solid var(--border-color-profile);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  padding: 0.5rem;
}

.profile__user--title {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
}
