@import "../bootstrap/bootstrap.css";
@import "header.css";
@import "footer.css";
@import "tips.css";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
