.records__header {
  --size-records-title: 2rem;
  --height-button-records: 3rem;
  --width-button-records: 8rem;
  --size-icon-button-records: 1.2rem;
  --size-text-button-records: 0.8rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0.5rem;
}

.records__title {
  font-size: var(--size-records-title);
  font-weight: 700;
  text-align: center;
}

.records__nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.records__nav--item {
  align-items: center;
  display: flex;
  height: var(--height-button-records);
  margin: 0.25rem 0.25rem;
  width: var(--width-button-records);
}

.records__nav--item span:first-child {
  align-self: center;
  font-size: var(--size-icon-button-records);
  width: 30%;
}

.records__nav--item span:last-child {
  align-self: center;
  font-size: var(--size-text-button-records);
  width: 70%;
}

.records__filter {
  display: flex;
  width: 100%;
}

.records__filter--hide {
  display: none;
}
