.header {
  --bg-color-header: #999999;
  --font-color-nav: #333333;
  --hover-color-nav: #222e5e;
  --height-header: 100px;
  --user-size-login: 35px;
  --width-logo: 120px;
  --height-logo: 50px;
  background-color: var(--bg-color-header);
  display: flex;
  height: var(--height-header);
  justify-content: space-between;
  margin: 0px;
  width: 100%;
}
.header__left {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: auto;
}

.header__center {
  align-items: center;
  display: flex;
  justify-content: center;
  width: auto;
}

.header__right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.header__logo {
  height: var(--height-logo);
  margin: 1rem;
  width: var(--width-logo);
}

.header__nav--list {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.header__nav--item {
  margin: 0.5rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.header__nav--link {
  color: var(--font-color-nav);
  font-weight: 700;
  text-decoration: none;
}

.header__nav--item:hover {
  border-left: 0.5rem solid var(--hover-color-nav);
  margin-left: 0.25rem;
  padding-left: 0.25rem;
  color: var(--hover-color);
  font-size: 1.1rem;
}

.header__login {
  align-items: center;
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.header__login--image {
  border-radius: 100%;
  height: var(--user-size-login);
  margin-right: 0.4rem;
  width: var(--user-size-login);
}

.header__login--text {
  font-size: 1.2rem;
}
