.swiper-tips {
  width: 80%;
  height: 140px;
}

.tip-slide {
  padding: 0 10rem;
}

@media screen and (max-width: 960px) {
  .swiper {
    width: 85%;
    height: 150px;
  }
 
  .tip-slide {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 480px) {
  .swiper {
    width: 95%;
    height: 160px;
  }

  .tip-slide {
    padding: 0 1rem;
  }

  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}

.hide-tips {
  display: none;
}

.tips {
  display: block;
  background-color: darkblue;
  box-sizing: border-box;
  color: white;
  font-size: 0.8rem;
}

.tips-header {
  display: flex;
  justify-content: end;
  padding: 0 1rem;
  align-items: center;
}

.tips-icon {
  display: none;
}

.tips-icon:not(.hide) {
  display: inline-block;
  fill: white;
  stroke: white;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 .5rem;
  cursor: pointer;
}

.tips-icon:hover {
  fill: gray;
  stroke: gray;
}

.tips__close--button {
  background-color: transparent;
  border: none;
  color: white;
  height: 1.5rem;
  width: 1.5rem;
}

.tips__close--button:hover {
  color: rgb(200, 200, 200);
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
}
